ion-content{
    --ion-background-color:#E1EAF9 ;
}

ion-header{
    position: absolute;
    --ion-background-color:#215AB7;
}


ion-toolbar{
    --ion-background-color: transparent;
    --opacity: 0;
  }
  

ion-title{
    font-size: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: lighter;
    color: #fff;
}
.container{
    width: 100%;
    height: 200px;
    display: block;
    background-color: #215AB7;
}
.overlay{
    position: relative;
    text-align: center;
    top: 80%; /* mover foto */
}
 ion-avatar{
    height: 100px;
    width: 100px;
    margin: auto;
    border: 4px solid #fff;
 }

 ion-card{
    margin-top: 40px;
    --ion-background-color: transparent !important;
    box-shadow: none;
    text-align: center;
 }

 ion-item{
    --ion-background-color: #215AB7 ;
    text-align: center;
    color: #c2c3c4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: 14px;
    border-radius: 5px;
    height: 35px;
    --min-height:35px;
    margin-bottom: 15px;
 }

 ion-label{
    text-align: center;
    padding: 0px;
    margin: 0px;
 }

 ion-card-title{
    margin-top: 10px;
 }

 ion-back-button{
    color: #fff
 }