<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Clase</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-wrap">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="'/menudocente'">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Menú</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-list>
    <ion-item >
      <ion-select placeholder="Seleccione ramo">
        <ion-select-option *ngFor="let ramo of listaRamos">{{ramo.sigla}}-{{ramo.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-card class="ion-text-center">
    <ion-card-content>
      <qrcode 
      [qrdata]="qrString" 
      [width]="256" >
    </qrcode>
    </ion-card-content>
  </ion-card>
  <ion-item>
    <p>Para confirmar asistencia, los alumnos deben escanear este código QR.</p>
  </ion-item>
</ion-content>
