<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>registro</ion-title> -->
    <ion-buttons slot="start">
      <ion-back-button defaulthref="login" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-color">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="'/menu'">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Menú</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <ion-card class="ion-no-margin">
    <ion-card-header>
      <ion-card-title>
        Modificar perfil
      </ion-card-title>
      <ion-card-subtitle>
        Edite su perfil cambiando los datos
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-contents>
      <form (ngSubmit)="onSubmit()" [formGroup]="contactForm" matRipple [matRippleCentered]="false"
        [matRippleRadius]="30" [matRippleColor]="'#8ca1c965'">
        <ion-item>
          <ion-input name="nombre" type="text" placeholder="Nombre Completo" id="nombre" required
            formControlName="nombre">
            <ion-icon name="person-outline"></ion-icon>
          </ion-input>
        </ion-item>
        <div *ngIf="contactForm.get('nombre')?.touched && contactForm.get('nombre')?.errors?.['required']">Este campo es
          obligatorio</div>
        <div *ngIf="contactForm.get('nombre')?.touched && contactForm.get('nombre')?.errors?.['minlength']">El campo
          tiene que tener un largo mayor a 3 caracteres</div>
        <ion-item>
          <ion-input name="telefono" type="number" placeholder="Numero de telefono" id="telefono" required
            formControlName="telefono">
            <ion-icon name="call-outline"></ion-icon>
          </ion-input>
        </ion-item>
        <div *ngIf="contactForm.get('telefono')?.touched && contactForm.get('telefono')?.errors?.['required']">Este
          campo es obligatorio</div>
        <div *ngIf="contactForm.get('telefono')?.touched && contactForm.get('telefono')?.errors?.['minlength']">Ingrese
          un número de teléfono válido</div>
        <ion-item>
          <ion-input name="email" type="text" placeholder="nombre@belleduca.cl" id="email" required
            formControlName="email">
            <ion-icon name="mail-outline"></ion-icon>
          </ion-input>
        </ion-item>
        <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['required']">Este campo es
          obligatorio</div>
        <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['email']">Ingrese un correo
          válido</div>
        <div class="sign-btn-wrap">
          <ion-button fill="solid" shape="round" class="recuperar" type="submit" [disabled]="contactForm.invalid" (click)="modificar()">
            Confirmar cambios </ion-button>
        </div>
      </form>
    </ion-card-contents>
  </ion-card>
</ion-content>